@{
    ViewBag.Title = "Home Page";
}


@section styles {

    <script src="/Scripts/angular.js"></script>
    <script src="/Scripts/angular-ui/ui-bootstrap.js"></script>
    <script src="/Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
}

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Firstly complete the table of expiation categories by year by loading the data using Ajax from the <b>ExpiationsWebAPIController</b>.<br />
            <span style="color:darkred">Throught this assignment you are not allowed to use this data for element ID's or class names!</span>
        </p>
        <p>@Html.ActionLink("View Expiation Data", "Expiations", "Home", null, new { @class = "btn btn-secondary" })</p>
    </div>
    <div class="col-md-4">
        <h2>Selecting a Code</h2>
        <p>
            Clicking on an expiation category row will produce an animated expiation graph showing a monthly breakdown for the selected category and year. This graph must be generated using Ajax data from the <b>ExpiationsWebAPIController</b>.<br />
            The graph <b>must</b> be generated using <b>JQuery.animate()</b> or <b>D3 v5.9.x</b> and include the expiation detail (month name, ticket count, year etc).<br />
            See the assignment documentation for details
        </p>
        <p>@Html.ActionLink("View Expiation Data", "Expiations", "Home", null, new { @class = "btn btn-secondary" })</p>
    </div>
    <div class="col-md-4">
        <h2>Selecting a Graph Month</h2>
        <p>
            Selecting a month from the graph will load a new table below the graph showing the expiation details for each code in the selected category, given month and year displayed in the graph.<br />
            This table will also need to be generated using Ajax and <b>JQuery()</b> or <b>D3 v5.9.x</b>, and include the expiation detail (code, description, avg fine, avg speed and ticket count) <br />
        </p>
        <p>@Html.ActionLink("View Expiation Data", "Expiations", "Home", null, new { @class = "btn btn-secondary" })</p>

    </div>
</div>
